{% extends "base.html" %}

{% block title %}
    {% if is_edit %}
        タグ編集: {{ tag.name }}
    {% else %}
        新規タグ追加
    {% endif %}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card p-4 shadow-sm">
        <h2 class="card-title text-center mb-4">
            {% if is_edit %}
                タグ編集: {{ tag.name }}
            {% else %}
                新規タグ追加
            {% endif %}
        </h2>
        <hr>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST">
            {{ form.csrf_token }}

            <div class="mb-3">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control", placeholder="タグ名を入力してください") }}
                {% if form.name.errors %}
                    <div class="text-danger">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            
            <div class="mb-3">
                {{ form.description.label(class="form-label") }}
                {{ form.description(class="form-control", rows="3", placeholder="タグの説明を入力してください") }}
                {% if form.description.errors %}
                    <div class="text-danger">
                        {% for error in form.description.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div> #}

            <div class="d-grid gap-2 mt-4">
                {{ form.submit(class="btn btn-primary") }}
                <a href="{{ url_for('blog_admin_bp.list_tags') }}" class="btn btn-secondary">キャンセル</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}